@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  position: relative;
  background-color: #f2f4f7;
}

.doctor {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
.patient {
  padding: 1rem 2rem;
}
.doctor:hover,
.patient:hover {
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.25);
}
.navbarCustom {
  background-color: #32569f;
  border-radius: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  height: 8rem;
}

.navbarCustom__left {
  display: flex;
  align-items: center;
}

.navbarCustom__left__name > a {
  font-size: 3rem;
  margin-right: 2rem;
  font-family: "Dancing Script", cursive;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbarCustom__left__name > a:hover,
.navbarCustom__left__hospitals > a:hover,
.navbarCustom__left__medicine > a:hover,
.navbarCustom__right__token:hover,
.navbarCustom__right__log:hover {
  filter: brightness(80%);
}

.navbarCustom__left__hospitals > a {
  font-size: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.navbarCustom__left__medicine > a {
  font-size: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.navbarCustom__right {
  display: flex;
  align-items: center;
}
.navbarCustom__right__log {
  font-size: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.navbarCustom__right__log:hover,
.navbarCustom__right__token:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.navbarCustom__right__token {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbarCustom__right__log-logo {
  margin-right: 0.7rem;
}

.hidden-content {
  background-color: #32569f;
  color: #fff;
  position: absolute;
  top: 7.8rem;
  right: 13rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.hidden-content a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}
.hidden-content-register {
  background-color: #32569f;
  color: #fff;
  position: absolute;
  top: 7.8rem;
  right: 23rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.hidden-content-register a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}
.hide {
  opacity: 0;
}
.hide-register {
  opacity: 0;
}

/* navbar */

/* profile */

.hospitalDetail {
  background-color: #f2f4f7;
  margin-top: 2rem;
}
.hospitalDetail__div {
  background-color: white;
  border: 2px solid lighgrey;
  width: 80%;
  margin: auto;
  display: flex;
}
.hospitalDetail__div__left {
  flex: 1;
  /* border: 2px solid red; */
}

.hospitalDetail__div__left__header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.margin__right {
  margin-left: 0.1rem;
}
.hospitalDetail__div__left__details {
  margin: 2rem;
  font-size: 2rem;
}
.hospitalDetail__div__left__info {
  /* border: 2px solid red; */
  width: 80%;
  margin-bottom: 2rem;
}
.hospitalDetail__div__left__info__name,
.hospitalDetail__div__left__info__ageSex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hospitalDetail__div__left__name__last,
.hospitalDetail__div__left__sex {
  width: 19.5rem;
}

.hospitalDetail__div__right {
  flex: 1;
  display: flex;
  align-items: center;
}
.hospitalDetail__div__right__image {
  margin-top: 6rem;
  width: 86%;
  border: 4px solid lightgrey;
  /* border-radius: 50%; */
  object-fit: cover;
}
/* profile */

/* hospital section */
.departments,
.doctor-section {
  margin-top: 4rem;
  /* background-color: white; */
}
.departments-div {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 1rem 2rem;
  height: 90rem;
  overflow-y: scroll;
}
.doctor-div {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 1rem 2rem;
  height: 45rem;
  overflow-y: scroll;
}
.departments-div::-webkit-scrollbar,
.doctor-div::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  /* Optional: just make scrollbar invisible */
}
.departments__header,
.doctor__header {
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-bottom: 4rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}
.user-cards > a {
  text-decoration: none;
  color: #3b4351;
}
.user-cards > a:hover {
  color: rgb(114, 113, 113);
}
.card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  align-items: center;
  border: 2px solid #f2f4f7;
  /* padding: 1rem; */
  transition: all 0.4s ease;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-left {
  flex: 1;
  font-size: 18px;
  margin: 2rem 0;
  padding: 0rem 1rem;
}
.doctor-card-left {
  flex: 1;
  font-size: 18px;
  margin: 2rem 0;
  padding: 0rem 1rem;
  width: 100%;
}
.card-right {
  flex: 1;
  font-size: 20px;
}
.departments__header,
.doctor__header {
  font-size: 3.3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.dept__name {
  font-size: 1.7rem;
}
.Dept__Name {
  margin-bottom: 1rem;
}
.Doctor__Name {
  margin-bottom: 1rem;
}
.Dept__Description__Header {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.Dept__Description__Content {
  padding-left: 1.5rem;
  font-size: 1.6rem;
}

.card-right-image {
  width: 100%;
  /* height: 20rem; */
}
/* hospital section */

/* footer */
.footer {
  background-color: #32569f;
  color: #fff;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  align-items: center;
}
.footer-content > a {
  color: #fff;
  font-size: 12px;
}

/* footer */
